// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// light-light-blue-dark
$light_gray: #e1e0dd;
$not_quite_white: #f1f2f0;
$not_quite_black: #35342f;
$light_blue: #37bbe4;

$dark_blue: #0b3536;


* {
	font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: $light_gray;
	color: $not_quite_black;
}

#navbar {
	background-color: $not_quite_black;
	position: fixed;
	width: 100%;
	text-align: center;
	margin-left: 0px;
	margin: 0 auto;
	// below is to fix the built-in margins
	margin-left: -12px;
	top: 0;
	margin-bottom: 15px;
	padding-bottom: 4px;
	padding-top: 4px;
	color: $not_quite_white;
	font-size: 30pt;

	img {
		max-width: 60px;
		max-height: 60px;
		padding: 0;
	}
}

#logo {
	float: left;
	display: inline-block;
	margin-left: 5%;
	padding: 0;
	font-size: 8pt;
	background-color: $not_quite_black;
	color: $not_quite_white;

	* {
		background-color: $not_quite_black;
		color: $not_quite_white;
	}

	a {
		color: $not_quite_white;
		text-decoration: none;
	}

	img {
		background-color: $not_quite_black;
	}


}

#logo:hover {
	color: $light_blue;

	a {
		color: $light_blue;
	}

	i {
		color: $light_blue;
	}
}

#navbar ul {
	background-color: $not_quite_black;
	display: inline-block;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	float: right;
	margin-right: 5%;
	font-weight: 400;
}

#navbar ul:after {
	content: " "; clear: both; display: block;
}

#navbar ul li {
	background-color: $not_quite_black;
	display: inline;
	padding-top: 10px;
	margin-right: 20px;
}

#navbar ul li a {
	background-color: $not_quite_black;
	text-decoration: none;
	font-size: 18px;
	color: $not_quite_white;
	padding: 5px 5px;
	border-radius: 5px;
}

#navbar a:hover {
	background-color: $not_quite_black;
	color: $light_blue;
}

#sidebar {
	position: fixed;
		right: 0;
		top: 100px;
	max-width: 300px;
	margin-top: 50px;
	margin-left: 20px;
	background-color:$not_quite_black;
	background-opacity: 0.2;
	border-radius: 5px;
	border-left: 3px solid $light_blue;
	border-top: 3px solid $light_blue;
	border-bottom: 3px solid $light_blue;
	color: $not_quite_white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 15px;

	ul {
		background-color:$not_quite_black;
		background-opacity: 0.2;
		font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
		min-width: 200px;
		color: $not_quite_white;
		margin-bottom: 10px;
		padding-bottom: 5px;
	}

	h4 {
		padding: 5px;
		border-radius: 5px;
		max-width: 250px;
		margin-bottom: 5px;
		text-align: center;
	}

	 li {
	 	background-color:$not_quite_black;
	 	color: $not_quite_white;

	 }

	a {
		background-color:$not_quite_black;
		background-opacity: 0.2;
		color: $not_quite_white;
		font-family: "Karla","Helvetica Neue",Helvetica,Arial,sans-serif;
		text-decoration: none;
	}

	a:hover {
		background-color: $not_quite_black;
		background-opacity: 0.2;
		color: $light_blue;
	}
}

.container {
	display: block;
	margin-top: 40px;
}

.personality {
	vertical-align: top;
	display: inline-block;
	border-top: 2px solid $light_blue;
	border-left: 2px solid $light_blue;
	margin-top: 20px;
	margin-left: 40px;
}

.political {
	vertical-align: top;
	display: inline-block;
	border-top: 2px solid $light_blue;
	border-left: 2px solid $light_blue;
	margin-top: 20px;
	margin-left: 40px;
}

.myers-briggs {
	vertical-align: top;
	display: inline-block;
	border-top: 2px solid $light_blue;
	border-left: 2px solid $light_blue;
	margin-top: 20px;
	margin-left: 40px;
}

.topics {
	vertical-align: top;
	display: inline-block;
	border-top: 2px solid $light_blue;
	border-left: 2px solid $light_blue;
	margin-top: 20px;
	margin-left: 40px;

}

.keywords {
	vertical-align: top;
	display: inline-block;
	border-top: 2px solid $light_blue;
	border-left: 2px solid $light_blue;
	margin-top: 20px;
	margin-left: 40px;

}

.searchhistory {
	margin-top: 50px;
	vertical-align: top;
	display: inline-block;
	width: 400px;
	margin: 10px;
	border: 3px solid $light_blue;
	border-radius: 7px;
	padding: 5px;

	a {
		color: $light_blue;
	}

	a:hover {
		color: $not_quite_white;
	}
}

#account_settings {
	margin-top: 20vh;
	vertical-align: top;
	display: inline-block;
	width: 400px;
	margin: 10px;
	border: 3px solid $light_blue;
	border-radius: 7px;
	padding: 5px;

	label {
		float: left;
		margin-left: 10px;
	}

	input {
		float: right;
		margin-right: 10px;
	}
}

#paddingdiv {
	padding-top: 70px;
}

.searchheading {
	margin-top: 10px;
	display: block;
	max-width: 500px;
	margin-left: 40px;
	font-size: 14pt;
	clear: both;
}

#twittersearch_retweet {
	height: 20px;
	width: 20px;
		input {
			height: 20px;
			width: 20px;
			border: 1px solid $light_blue;
			float: right;
			margin-right: 20px;
		}
}

#text_to_analyze_ {
	border: 1px solid $light_blue;
	float: right;
	margin-right: 20px;
}

.search {
	display: block;
	max-width: 500px;
	max-height: 150px;
	margin-left: 40px;
	font-size: 14pt;
	margin-bottom: 20px;
		form {
			label {
				float: left;
			}

			input {
				border: 1px solid $light_blue;
				float: right;
				margin-right: 20px;
			}
		}
}

.submit_button {
	margin-top: 5px;
	// float: right;
	margin-right: 5px;
	clear: both
}